@font-face {
  src: url(RobotoFlex.ttf);
  font-family: 'Roboto Flex';
  font-weight: 100 1000;
  font-stretch: 25% 151%;
  font-style: oblique -10deg 0deg;
  font-display: swap;
}

@font-face {
  src: url(SudoVariable.ttf);
  font-family: 'Sudo';
  font-style: italic;
  font-weight: 72 700;
  font-display: swap;
  font-synthesis: none;
}

:root {
  --font-family: 'Roboto Flex', system-ui, sans-serif;
  --code-font-family: 'Sudo', monospace;
  --base-font-size: 1rem;
  --small-font-size: calc(var(--base-font-size) * 0.85);
  --large-font-size: calc(var(--base-font-size) * 1.5);
  --extra-large-font-size: calc(var(--base-font-size) * 4.5);
  --error-color: #d91223;
  --active-color: #696ba7;
  --active-color-dark: #8183cd;
  --inactive-color: #555555;
  --muted-color: #999999;
  --dark-color: #333333;
  --white: #f5f5ff;
  --black: #111111;
}

.dark {
  --white: #0e0e1d;
  --black: #ffffff;
  --dark-color: #aaaaaa;
  --muted-color: #444444;
  --inactive-color: #999999;
}

* {
  box-sizing: border-box;
  font-synthesis: none;
}

html {
  width: 100vw;
  height: 100vh;
}

html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

html,
body,
button,
input,
textarea {
  font-family: var(--font-family);
  color: var(--black);
  background-color: var(--white);

  transition: 0.3s color ease-out, 0.3s background-color ease-out;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
small,
span {
  margin: 0;
  padding: 0;
  font-weight: 400;
  color: var(--black);
  font-optical-sizing: auto;
}

p,
span {
  font-size: var(--base-font-size);
}

small {
  font-size: var(--small-font-size);
}

input[type='text'],
textarea {
  padding: 0.25rem 0.4rem;
  border-radius: 0.25rem;
  border: 1px solid var(--inactive-color);
  transition: 0.3s border-color ease-out;
}

input[type='text']:hover,
input[type='text']:active,
textarea:hover,
textarea:active {
  border-color: var(--active-color);
}

h3 {
  font-size: var(--large-font-size);
  font-weight: 400;
  margin-bottom: 1.5rem;

  font-stretch: 150%;
  font-variation-settings: 'GRAD' 43, 'slnt' 0, 'XTRA' 468, 'XOPQ' 96, 'YOPQ' 79,
    'YTLC' 1000, 'YTUC' 712, 'YTAS' 750, 'YTDE' -203, 'YTFI' 738;
}

h1 {
  font-size: var(--extra-large-font-size);
  font-style: oblique -4deg;
  font-weight: 750;

  font-stretch: 45%;
  font-variation-settings: 'GRAD' -100, 'slnt' -4, 'XTRA' 468, 'XOPQ' 96,
    'YOPQ' 79, 'YTLC' 514, 'YTUC' 712, 'YTAS' 750, 'YTDE' -203, 'YTFI' 738;
}

.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.text-small {
  font-size: var(--small-font-size);
}

.text-active {
  color: var(--active-color);
}

button {
  font-family: var(--font-family);
  font-size: var(--small-font-size);
  border: 1px solid var(--dark-color);
  color: var(--dark-color);
  padding: 0.2rem 0.5rem;
  border-radius: 0.3rem;
  background-color: transparent;
  cursor: pointer;
  transition: 0.3s color ease-out, 0.3s border-color ease-out,
    0.3s background-color ease-out;

  font-stretch: 105%;
  font-variation-settings: 'GRAD' 43, 'slnt' 0, 'XTRA' 468, 'XOPQ' 96, 'YOPQ' 79,
    'YTLC' 800, 'YTUC' 1000, 'YTAS' 750, 'YTDE' -203, 'YTFI' 738;
}

button:hover,
button:focus {
  color: var(--white);
  border-color: var(--active-color-dark);
  background-color: var(--active-color);
}

button:active {
  background-color: var(--active-color-dark);
}

.splitpanes,
.splitpanes__pane {
	background-color: transparent !important;
}

.splitpanes__splitter {
	background-color: var(--white) !important;
  border-color: transparent !important;
  border-radius: 100rem;

  transition: 0.3s background-color ease;
}

.splitpanes__splitter:hover {
  background-color: var(--active-color) !important;
}

.splitpanes__splitter::before {
  opacity: 0.1;
}

.splitpanes--vertical > .splitpanes__splitter::before {
height: 100% !important;
width: 1px !important;
transform: translateX(50%) translateY(-50%) !important;
}

.splitpanes--vertical > .splitpanes__splitter::after {
  margin-left: -0.5px !important;
  width: 0.25rem !important;
  border-radius: 100rem !important;
  transform: translateX(-50%) translateY(-50%) !important;
}

.splitpanes--horizontal > .splitpanes__splitter::before {
  width: 100% !important;
  margin-top: -0.5px !important;
  height: 1px !important;
  border-radius: 100rem !important;
  transform: translateX(-50%) translateY(-50%) !important;
}

.splitpanes--horizontal > .splitpanes__splitter::after {
  margin-top: 0 !important;
  height: 0.25rem !important;
  border-radius: 100rem !important;
  transform: translateY(-50%) !important;
}

.splitpanes__splitter::before,
.splitpanes__splitter::after {
	background-color: var(--active-color) !important;
}

.splitpanes__splitter:hover::after {
  background-color: var(--white) !important;
}